@font-face {
  font-family: "iconfont"; /* Project id 3722245 */
  src: url('iconfont.woff2?t=1666364991509') format('woff2'),
       url('iconfont.woff?t=1666364991509') format('woff'),
       url('iconfont.ttf?t=1666364991509') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-xiangyou1:before {
  content: "\e775";
}

.icon-caidan:before {
  content: "\e790";
}

